<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f29c">  <td>22/04/14 08:48:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WantToReadTestCase.test_that_user_can_add_the_book_to_want_to_read_is_successfully()[pri:0, instance:testscripts.WantToReadTestCase@4c70fda8]">test_that_user_can_add_the_book_to_want_to_read_is_successfully</td> 
  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>22/04/14 08:48:22</td>   <td>22460</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WantToReadTestCase.teardown()[pri:0, instance:testscripts.WantToReadTestCase@4c70fda8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>22/04/14 08:47:45</td>   <td>-14115</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WantToReadTestCase.initTestSuite()[pri:0, instance:testscripts.WantToReadTestCase@4c70fda8]">&gt;&gt;initTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
</table>
